<% layout('layout') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div id="camera">
      </div>

      <button id="led" class="btn btn-primary">LED</button>
      <button id="temp" class="btn btn-primary">temp</button>
      <button id="light" class="btn btn-primary">light</button>
      <button id="mailer" class="btn btn-primary">send mail</button>
    </div>
  </div>
</div>

<script>
  $('#led').on('click', function(e) {
    $.ajax({
      url: '/led',
      type: 'POST',
      success: () => {
        console.log('post led success');
      }
    });
  });

  $('#temp').on('click', function(e) {
    $.ajax({
      url: '/temp',
      type: 'POST',
      success: () => {
        console.log('post /temp success');
      }
    });
  });

  $('#light').on('click', function(e) {
    $.ajax({
      url: '/light',
      type: 'POST',
      success: () => {
        console.log('post /light success');
      }
    });
  });

  $('#mailer').on('click', (e) => {
    $.ajax({
      url: '/warning',
      type: 'POST',
      success: () => {
        console.log('send email request success');
      }
    });

  });
</script>
