<% layout('layout') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div id="camera">
      </div>

      <button id="led" class="btn btn-primary">LED</button>
      <button id="temp" class="btn btn-primary">temp</button>
      <button id="light" class="btn btn-primary">light</button>
      <button id="mailer" class="btn btn-primary">send mail</button>
    </div>
  </div>
</div>

<script>
  $('#led').on('submit', function(e) {
    $.post('/led');
  });

  $('#temp').on('submit', function(e) {
    $.post('/temp');
  });

  $('#light').on('submit', function(e) {
    $.post('/light');
  });

  $('#mailer').on('click', (e) => {
    $.post('/warning');
  });
</script>
