<% layout('layout') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <img src="http://<%= ip %>:8160" class="img-fluid mx-auto d-block" width="640" height="480"/>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10">
      <button id="temp" class="btn btn-primary">temp</button>
      <button id="open-light" class="btn btn-primary">open light</button>
      <button id="close-light" class="btn btn-primary">close light</button>
      <button id="mailer" class="btn btn-primary">send mail</button>
      <button id="buzzer" class="btn btn-primary">beep</button>
    </div>
  </div>
</div>

<script>
  $('#temp').on('click', function(e) {
    $.ajax({
      url: '/temp',
      type: 'POST',
      success: () => {
        console.log('post /temp success');
      }
    });
  });

  $('#open-light').on('click', function(e) {
    $.ajax({
      url: '/open/light',
      type: 'POST',
      success: () => {
        console.log('post /open/light success');
      }
    });
  });

  $('#close-light').on('click', function(e) {
    $.ajax({
      url: '/close/light',
      type: 'POST',
      success: () => {
        console.log('post /close/light success');
      }
    });
  });

  $('#mailer').on('click', (e) => {
    $.ajax({
      url: '/warning',
      type: 'POST',
      success: () => {
        console.log('send email request success');
      }
    });
  });

  $('#buzzer').on('click', (e) => {
    $.ajax({
      url: '/buzzer',
      type: 'POST',
      success: () => {
        console.log('buzzer request success');
      }
    });
  });
</script>
